body,
html {
	width: 100%;
	height: 100%;
	display: grid;
	background-color: rgb(174, 99, 228);
}
body {
	margin: 0;
	background-image: url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80");
	background-attachment: fixed;
	background-size: cover;
}

p {
	margin: auto;
	font-family: "Modak", cursive;
	font-size: 15rem;
	color: transparent;
	background: url("https://images.unsplash.com/photo-1502214722586-9c0a74759710?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
	background-position: top center;
	background-size: 100%;
	-webkit-background-clip: text;
}
