body{
    background: linear-gradient(145deg,#FFE382,#000533);
    background-attachment: fixed;
    text-align: center;
   overflow: hidden;
}
.red-balloon{
    display: inline-block;
    width: 60px;
    height: 70px;
    margin: 10px;
    background-color: #ba181b;
    border-radius: 80%;
    position: relative;
    box-shadow: inset -5px -5px #a4161a;
    animation:up 10s linear infinite;
    animation-fill-mode:forwards;   
}
 @keyframes up {
      0%{bottom: -700px;}
    100%{bottom:700px;} 
} 

.red-balloon::after{
    content: '▲';
    position: absolute;
    bottom:-10px;
    text-align: center;
    display: block;
    width: 100%;
    color: #a4161a;
}

.red-balloon::before{
    content:'';
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: #E8D2FF;
    top: 70px;
} 

.red-balloon:nth-child(2){ animation-duration:8s;}
.red-balloon:nth-child(3){ animation-duration:14s; }
.red-balloon:nth-child(4){ animation-duration:7s; }
.red-balloon:nth-child(5){ animation-duration:11s; }
.red-balloon:nth-child(6){ animation-duration:9s;}
.red-balloon:nth-child(7){ animation-duration:10s; }
.red-balloon:nth-child(8){ animation-duration:7s; }
.red-balloon:nth-child(9){ animation-duration:12s; }
