body{
    background: linear-gradient(35deg,#000533,#FFE382);
    background-attachment: fixed;
    text-align: center;
}

.red-ballon{
    display: inline-block;
    background-color: #db0000;
    border-radius: 80%;
    width: 60px;
    height: 70px;
    position: relative;

}
.red-ballon::after{
    content: '▲';
    position: absolute;
    bottom:-10px;
    text-align: center;
    display: block;
    width: 100%;
    color: #db0000;

}