body{
    background: linear-gradient(180deg,#00051d,#00072d, #001c55, #0a2166);
    background-attachment: fixed;
}
.stars{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffe99f;
    box-shadow: 0px 0px 20px 2px #ffe99f;
    position: absolute;
    animation-iteration-count: infinite;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
}
#uno{
    top: 20px;
    left: 20%;
    animation-name:uno;
    animation-duration: 2s;
}
@keyframes uno{
    20%{
        transform: scale(0.5);
        opacity: 0.2;
    }
}
#dos{
    top: 160px;
    left: 40%;
    animation-name:dos;
    animation-duration: 3s;
}
    @keyframes dos{
    60%{
        transform: scale(0.5);
        opacity: 0.3;
    }
}
#tres{
    top: 40px;
    left: 60%;
    animation-name:tres;
    animation-duration: 4s;
}
@keyframes tres{
    30%{
        transform: scale(0.2);
        opacity: 0.1;
    }
}
#cuatro{
    top: 120px;
    left: 80%;
    animation-name:tres;
    animation-duration: 1.5s;
}
@keyframes cuatro{
    50%{
        transform: scale(0.9);
        opacity: 0.25;
    }
}
#cinco{
    animation-name: cinco;
    animation-duration: 2s;
}
@keyframes cinco{
    70%{
        transform: scale(0.3);
        opacity: 0.5;
    }
}
#seis{
    top: 15px;
    right: 0;
    animation-name: seis;
    animation-duration: 3s;
}
@keyframes seis{
    10%{
        transform: scale(0.6);
        opacity: 0.1;
    }
}
